@charset"utf-8";

#box {
    position: relative;
    width: 980px;
    margin: auto;
    overflow:hidden;
}

#slide_show {
   position: relative;
    width: 100%;
    max-width: 640px;
    margin: 0px auto;
    overflow: hidden;
}

#yamagatadaigaku {
    width: calc(640px * 4);
    list-style: none;
}

.yamagata {
    position: relative;
    float: left;
    overflow: hidden;
   
}

#slide_btn .back {
    position: absolute;
    width: 80px;
    left: 80px;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
}

#slide_btn .next {
    position: absolute;
    width: 80px;
    right: 80px;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
}